#LINK https://vorondesign.com/voron_stealthburner

[extruder]
pressure_advance: 0.0575
pressure_advance_smooth_time: 0.040

[bltouch]
x_offset: -45.5
y_offset: 0.0
sample_retract_dist: 5.0
speed: 2.5
pin_move_time: 0.6
stow_on_each_sample: true
probe_with_touch_mode: False
pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: true
#z_offset: 1.750

[safe_z_home]
home_xy_position: 215.5, 167

[z_tilt]
z_positions:
   -55.5, -20
   364.5, -20
   160, 395

points:
   70, 20
   330, 20
   205.5, 285

[gcode_macro _TOOLHEAD_VARIABLE]
variable_total_toolhead_length   : 76 ; total panjang filament dari gear extruder sampai ke nozzle
gcode: