[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[force_move]
enable_force_move: True

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 6
max_z_accel: 100
square_corner_velocity: 5.0

[input_shaper]

[gcode_arcs]
resolution: 0.5

[safe_z_home]
home_xy_position: 219, 175
speed: 100
z_hop: 10
z_hop_speed: 5

[z_tilt]
z_positions:
	0,175
	350,175
points:
	88,175
	350,175
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.05

[screws_tilt_adjust]
screw1: 89,45
screw1_name: front left screw
screw2: 349,45
screw2_name: front right screw
screw3: 349,305
screw3_name: rear right screw
screw4: 89,305
screw4_name: rear left screw
horizontal_move_z: 10.0
speed: 100.0
screw_thread: CW-M4

[bed_mesh]
speed: 100
mesh_min: 20, 20
mesh_max: 280,300
algorithm: bicubic
probe_count: 5,5

[input_shaper]

[stepper_x]
microsteps: 32
rotation_distance: 40
position_min: 0
position_max: 350
position_endstop: 350
homing_speed: 100
homing_retract_dist: 5
homing_positive_dir: true

[stepper_y]
microsteps: 32
rotation_distance: 40
position_min: 0
position_max: 350
position_endstop: 350
homing_speed: 100
homing_retract_dist: 5
homing_positive_dir: true

[stepper_z]
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_max: 400
position_min: -10
homing_speed: 10.0

[stepper_z1]
microsteps: 16
rotation_distance: 4

[extruder]
microsteps: 32
max_extrude_cross_section: 5.0
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500

[verify_heater extruder]
max_error: 300
check_gain_time: 60
hysteresis: 30
heating_gain: 0.1

[tmc2209 stepper_x]
interpolate: False
run_current: 0.650
hold_current: 0.300
stealthchop_threshold: 0

[tmc2209 stepper_y]
interpolate: False
run_current: 0.650
hold_current: 0.300
stealthchop_threshold: 0

[tmc2209 extruder]
interpolate: True
run_current: 0.65
hold_current: 0.150
stealthchop_threshold: 0

[heater_bed]
sensor_type: EPCOS 100K B57560G104F
min_temp: 0
max_temp: 120

[verify_heater heater_bed]
max_error: 600
check_gain_time: 120
hysteresis: 10
heating_gain: 0.001

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5

[bltouch]
speed: 2.5
pin_move_time: 0.6
stow_on_each_sample: true
probe_with_touch_mode: False
pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: true

[fan]
kick_start_time: 0.5
off_below: 0.10
cycle_time: 0.001

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 320   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 5.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract          : 30.0   ; the value to retract while PAUSE
#variable_cancel_retract   : 0.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 31.0   ; the value to unretract while RESUME
variable_speed_unretract  : 15.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 180.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract  : False ; use fw_retraction instead of the manual version [True/False]
gcode: