[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[force_move]
enable_force_move: True

[printer]
kinematics: cartesian
max_velocity: 350
max_accel: 9000
max_z_velocity: 15
max_z_accel: 100
square_corner_velocity: 5.0

[input_shaper]

[gcode_arcs]
resolution: 0.5

[safe_z_home]
speed: 100
z_hop: 10
z_hop_speed: 5

[bed_mesh]                              
speed: 100
mesh_min: 30, 10
mesh_max: 220, 200
algorithm: bicubic
probe_count: 4, 6

[z_tilt]
speed: 50
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.05

[stepper_x]
microsteps: 16
rotation_distance: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_min: 0
position_max: 253
homing_speed: 50
homing_retract_dist: 0

[stepper_y]
microsteps: 16
rotation_distance: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: -4
position_min: -4
position_max: 213
homing_speed: 50
homing_retract_dist: 0

[stepper_z]
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 210

[stepper_z1]
microsteps: 16
rotation_distance: 8

[extruder]
microsteps: 16
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
max_extrude_cross_section: 5.0

[verify_heater extruder]
max_error: 120
check_gain_time: 20
hysteresis: 10
heating_gain: 1

[tmc2209 stepper_x]
interpolate: False
run_current: 1.2
hold_current: 0.45
sense_resistor: 0.110
stealthchop_threshold: 0
driver_SGTHRS: 90

[tmc2209 stepper_y]
interpolate: False
run_current: 1.2
hold_current: 0.45
sense_resistor: 0.110
stealthchop_threshold: 0
driver_SGTHRS: 80

[tmc2208 extruder]
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[heater_bed]
sensor_type: EPCOS 100K B57560G104F
min_temp: 0
max_temp: 130
max_power: 0.6

[heater_fan extruder]
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[filament_switch_sensor filament_sensor]
pause_on_runout: False
event_delay: 3.0
pause_delay: 0.5
runout_gcode:
    {% if printer.print_stats.state == "printing" %}
        PAUSE
        _CLIENT_EXTRUDE
        UNLOAD_FILAMENT
    {% endif %}

insert_gcode:
    LOAD_FILAMENT

[bltouch]
speed: 2.5
pin_move_time: 0.6
stow_on_each_sample: true
probe_with_touch_mode: False
pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: true

[gcode_macro _printer_variable]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 250   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 210   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 5.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_speed_unretract  : 15.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 200.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract  : False ; use fw_retraction instead of the manual version [True/False]
gcode:


